<!DOCTYPE html>
<html lang="en">
  {{ partial "head/head.html" . }}
  <body>
    {{- partial "shared/header.html" . -}}
    {{- block "main" . -}}{{- end -}}
    {{- partial "shared/footer.html" . -}}
  </body>
  <style>
    .text-primary {
      color: #4e556d !important;
    }
    .section.hero .hero-title strong {
    color: #ceb66e;
    }
  .btn-primary {
      color: #000;
      background-color: #4e556d;
      border-color: #4e556d;
    }
  .text-danger {
      --bs-text-opacity: 1;
      color: #ceb66e !important;
    }
  </style>
</html>
